beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
Flask-Cors
fsspec
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
Pillow
regex
requests
soupsieve
sympy
torch
torchvision
tqdm
typing_extensions
urllib3
Werkzeug
wikipedia
